# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

# allow example env files for documentation
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.vscode/
.idea/

# logs
logs
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# turbo
.turbo

# temporary files
tmp/
temp/

# local netlify folder
.netlify

# eslint cache
.eslintcache

# stylelint cache
.stylelintcache

# parcel cache
.parcel-cache

# macOS
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini